<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Configure Home</title>
        <link rel="stylesheet" href="CSS/index.css">
        
    </head>
    <body>
        <h1>Select a device below for configuration</h1>

        <div>
            <a href="326">326 Configuration</a>
            <a href="328">328 Configuration</a>
            <a href="354">354 Configuration</a>
            <a href="518">518 Configuration</a>
            <a href="1072">1072 Configuration</a>
            <a href="2004">2004 Configuration</a>
            <a href="2216">2216 Configuration</a>
        </div>
        
    </body>
</html>