body {
    background-color: rgb(146, 146, 146);
    margin: 0px;
    padding: 0px;

}

#head {
    background-color: rgb(146, 146, 146);
    position: relative;
    border-bottom-style: solid;
    border-width: 2px;
}

.head {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    color: black;
    text-decoration: none;

    font-size: 20px;
    display: inline-block;
}

.head:hover {
    background-color: rgb(99, 99, 99);
}
    
h1 {
    position: relative;
    margin: 25px;
    color: black;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 40px;
}

h2 {
    position: relative;
    margin: 0px;
}

p {
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
}

#set {
    position: relative;
    float: left;
    width: 57%;
}

#set input {
    width: 200px;
    height: 20px;
    margin-left: 15px;
    background-color: rgb(202, 202, 202);
    border-color: black;
    border-style: solid;
    font-size: 18px;
}

#set td {
    padding-right: 20px;
    padding-bottom: 15px;
}

table {
    position: relative;
    font-weight: bold;
    font-size: 25px;
    padding-left: 40px;
    padding-bottom: 35px;
    margin: 0px;
}

td {
    padding-right: 25px;
    padding-bottom: 15px;
}

input {
    width: 200px;
    height: 20px;
    margin-left: 15px;
    background-color: rgb(202, 202, 202);
    border-color: black;
    border-style: solid;
    font-size: 18px;
}

textarea {
    margin-left: 50px;
    margin-bottom: 20px;
    width: 650px;
    height: 150px;
    resize: none;
    border-radius: 4px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: rgb(202, 202, 202);
    border-color: black;
    border-style: solid;
    font-size: 18px;
}

button {
    margin-left: 20px;
    width: 120px;
    height: 60px;
    background-color: rgb(202, 202, 202);
    border-color: black;
    border-style: solid;
    font-size: 18px;
    margin-bottom: 25px;
}

button:hover {
    background-color: rgb(102, 102, 102);
}

#addName {
    padding-left: 25px;
    float: left;
    width: 30%;
}

li {
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
}